<!-- <h1>Hello word!, {{ title }}</h1>

<div class="estilo">
  <app-prueba></app-prueba>
  <h1>Hello word!, {{ prueba }}</h1>

  <app-prueba-dos></app-prueba-dos>
</div>

<app-prueba-tres></app-prueba-tres> -->
<div class="grid-wrapper container-fluid">
  <div class="toolbar-container">
    <div class="col-12">
      <app-toolbar></app-toolbar>
    </div>
  </div>

  <div class="row">
    <div class="sidenav-container col-md-3 col-lg-2">
      <app-sidenav></app-sidenav>
    </div>

    <div class="page-wrapper col-md-9 col-lg-10">
      <app-students-page></app-students-page>
    </div>
  </div>
</div>